.annuaire {
  &__pagination {
    $annuaire__pagination--optical-v: -3px;

    height: $logo--height;
    padding:
      calc((#{$logo--height} - 1em) / 2 + #{$annuaire__pagination--optical-v})
      0
      calc((#{$logo--height} - 1em) / 2 - #{$annuaire__pagination--optical-v});

    background: $black;
    color: $white;
    text-transform: uppercase;
  }

  &__pagination &__letters  {
    display: flex;
    justify-content: space-between;
  }

  &__letter.is-active a {
    border-bottom: 1px solid;
  }

  &__letter.is-disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
