.annuaire {
  &__pagination {
    $annuaire__pagination--optical-v: -3px;

    z-index: 1;

    height: $logo--height;
    padding:
      calc((#{$logo--height} - 1em) / 2 + #{$annuaire__pagination--optical-v})
      0
      calc((#{$logo--height} - 1em) / 2 - #{$annuaire__pagination--optical-v});

    text-transform: uppercase;

    @include desktop {
      position: sticky;
      top: calc(#{$logo--height * 3} + 4px);
    }
  }

  &__pagination &__letters  {
    display: flex;
    justify-content: space-between;
  }

  &__letter.is-active a {
    font-weight: bold;
  }

  &__letter.is-disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  @include mobile {
    &__pagination { height: auto; }
    &__letters { flex-wrap: wrap; }
    &__letter {
      text-align: center;
      flex-basis: calc(100% / 13);
    }
  }
}

.menu--mobile.headroom--unpinned ~ .annuaire__pagination {
  transform: translateY(-($logo--height + $gutter * 2));
}
