.article {
  &__body {}

  &__body .container  {
    display: flex;
  }

  &__body &__text {
    @include font(article-body);
    font-family: 'Space Grotesk', serif;
    max-width: col(5);

    ul {
      list-style-type: square;
    }

    li, p {
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

  &__body &__sidebar {
    @include debug;

    margin-left: col(2);
    max-width: col(3);
  }
}
