.article {
  &__body {}

  &__body .container  {
    display: flex;
  }

  &__body &__text {
    @include font(article-body);
    font-family: 'Space Grotesk', serif;
    max-width: col(5);

    ul {
      list-style-type: square;
    }

    li, p {
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

  &__body &__sidebar {
    margin-left: col(2);
    max-width: col(3);
  }

  &__sidebar > div,
  &__sidebar > ul {
    margin-bottom: $logo--height;
  }

  &__sidebar &__meta {
    @include font(ui);
    margin-bottom: 1em;

    &::before {
      content: attr(data-label);
      display: block;
      font-weight: bold;
    }
  }

  &__sidebar &__sponsor {
    width: 50%;
  }

  &__gallery {
    @include clearfix;
    margin-top: $logo--height * 2;
  }

  &__gallery-item {
    display: inline-block;
    margin-bottom: $gutter;

    float: left;
    width: calc(100% / 3 - #{$gutter * 2 / 3});
    &:not(:nth-child(3n)) { margin-right: $gutter; }
  }
}
