.search {
  .search-form {
    background-color: $black;
    color: $white;
    padding-bottom: $gutter;
  }

  .search-form > .container {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-wrap: wrap;
      input {
        font-size: 1em;
        min-width: 100%;
        border: 1px solid;
        padding: 2px 1ch;
      }
      button {
        margin-top: -1px;
        width: 100%;
      }
    }
  }

  input[type='search'] {
    @include reset-button;
    @include font(header);

    flex: 1;
    margin-right: $gutter;

    // <input> has a default min-width: auto which wrecks the flex layout
    min-width: 0;

    border-bottom: 1px solid;
    padding-bottom: 2px;

    &::placeholder {
      font-style: italic;
    }
  }

}
