.cta {
  position: relative;
  display: inline-block;
  font-size: inherit;
  vertical-align: -1px;

  &__icon {
    transform-origin: center calc(50% + 1px);
    opacity: 0;
  }

  &__tooltip {
    @include easing(300ms, opacity);
    @include font(ui);
    @include no-select;
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -0.5em;
    padding-left: $gutter / 2;

    width: auto;
    white-space: nowrap;

    opacity: 0;
  }

  &:focus &__tooltip,
  &:hover &__tooltip {
    pointer-events: auto;
    opacity: 1;
  }
}

@include desktop {
  .cta:focus .cta__icon,
  header:hover .cta .cta__icon,
  section:hover .cta .cta__icon {
    @include animation--cta-show;
  }
}

@include devices (mobile, tablet) {
  .cta__icon { opacity: 1; }
  .cta__tooltip { display: none; }
}
