@keyframes event-preview--hover {
  from {
    opacity: 0;
    transform: scaleX(0);
  } to {
    opacity: 1;
    transform: none;
  }
}

.event-preview {
  @include font(body);

  &__header {
    position: relative;
    border-bottom: 1px solid;
    padding-bottom: 0.666em;
    margin-bottom: 1em;
  }

  time + time::before {
    content: '–';
  }

  &__context {
    font-weight: bold;
  }

  &__title {
    @include line-clamp(4);
  }

  &:hover &__header {
    @include easing(300ms, border-bottom);
    border-bottom: 1px solid transparent;
  }

  &:hover &__header::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 1px solid;
    transform-origin: left;
    transform: scaleX(0);

    animation: event-preview--hover 300ms ease forwards;
    animation-delay: 300ms;
  }
}
