// Make sure the footer is always sticked to the bottom of the page no matter of
// the document's height
body { display: flex; flex-direction: column; }
[data-barba='wrapper'] { flex: 1 0 auto; }

.footer {
  @include font(ui);

  flex-shrink: 0;
  padding: 3rem 0;

  background: $black;
  color: $white;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    li {
      margin-left: $gutter;
    }
  }
}
