.form {
  form  {}

  fieldset {
    padding: $gutter 0 ($logo--height * 2) 0;
  }

  legend {
    @include font(header);
  }

  &__field {
    width: col(6);
    padding-top: $gutter;
  }

  &__field + &__field {
    margin-top: $logo--height;
  }

  label {
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-bottom: $gutter;
  }

  abbr {
    cursor: help;
    text-decoration: none;
  }

  select,
  textarea,
  input[type='text'],
  input[type='email'],
  input[type='file'],
  input[type='date'] {
    @include easing(300ms, background-color);
    @include reset-button;
    width: 100%;
    height: $logo--height;

    padding: 0 ($gutter / 2) 1px;
    border: 1px solid;

    &:focus {
      background: $white;
      color: $black;

      border-color: transparent;
    }

    &::placeholder {
      @include easing(300ms, opacity);
      font-style: italic;
      color: currentColor;
      opacity: 0.5;
    }

    &:hover::placeholder { opacity: 0.8; }
    &:focus::placeholder {
      transition: none;
      opacity: 0.3;
    }
  }

  input[type='date'] {
    text-transform: uppercase;
  }

  textarea  {
    padding-top: $gutter / 2;
    padding-bottom: $gutter / 2;
    height: auto;
    min-width: 100%;
    max-width: 100%;
  }

  input[type='email']:valid {
    background: red;
  }

  select {
    cursor: pointer;
  }
}
