.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__content {
    padding-top: $gutter;
    padding-bottom: $logo--height * 2;

    max-width: col(5);
  }

  &__cover {
    @include ratio(16/10);
    width: col(5);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include below--max-width  {
      width: calc(100% / 12 * 5 + #{$gutter});
      margin-right: -$gutter;
    }
  }

  &__content &__date {
    @include font(body);
  }

  &__content &__context {
    @include font(header);
    font-weight: bold;
  }

  &__content &__title {
    @include font(header);
  }

  &__content &__body {
    @include font(body);
  }
}
