$menu--optical-v: -1px;

.menu {
  z-index: 1;
  position: sticky;
  top: 0;

  background: $white;

  &__regions {
    padding: $gutter;
  }

  &__logos {
    font-size: 0;
    line-height: 0;
    height: $logo--height;

    svg + svg {
      padding-left: 10px;
    }
  }

  &__nav {
    @include font(ui);
    height: $logo--height;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav ul {
    display: flex;

    li {
      white-space: nowrap;
      height: $logo--height;

      padding:
        calc((#{$logo--height} - 1em) / 2 + #{$menu--optical-v})
        0
        calc((#{$logo--height} - 1em) / 2 - #{$menu--optical-v});
    }

    li:not(:last-child) {
      margin-right: $gutter;
    }

    li.is-active a {
      border-bottom: 1px solid;
    }
  }

  // XXX
  // TODO: determine how to set specific .menu__link in bold
  &__link:nth-child(1),
  &__link:nth-child(2),
  &__link:nth-child(3),
  &__link:nth-child(4) {
    font-weight: bold;
  }
}
