$menu--regions__list--padding-left: 7.8rem + $gutter * 2;

.menu--regions {
  @include easing(300ms, clip-path);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  color: $white;

  will-change: clip-path;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

  & > .container {
    display: flex;
    justify-content: space-between;

    padding-top: $gutter;
    padding-bottom: $gutter;
  }

  &__list {
    padding-top: $gutter;
    padding-bottom: $gutter;
    height: calc(100% - #{$logo--height});

    background: $white;
    color: $black;

    .container {
      @include invisible-scroll(y);
      max-height: calc(100% - #{$logo--height});
    }

    li {
      @include font(header);
      line-height: line-height(header) * 1.25;

      a:hover,
      &.is-active a {
        font-weight: bold;
      }

      a { border-bottom: 0; }
    }
  }
}

@keyframes menu--open {
  0% {
    display: none;
    clip-path: polygon(
      100% 0%,
      100% 0%,
      100% $logo--height + $gutter * 2,
      100% $logo--height + $gutter * 2
    );
  }
  40% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% $logo--height + $gutter * 2,
      0% $logo--height + $gutter * 2
    );
  }
  100% {
    display: block;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 110%
    );
  }
}

@keyframes menu--open-2 {
  0% {
    display: none;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 0%,
      0% 0%
    );
  }
  100% {
    display: block;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
}


#toggleRegionsMenu { display: none; }
#toggleRegionsMenu:checked ~ .menu--regions {
  pointer-events: auto;
  animation: menu--open-2 600ms cubic-bezier(0.5, 0.19, 0.32, 1) forwards;
}
