.pages--list {
  &__title {
    @include no-select;
    @include font(header);
    margin-bottom: $logo--height;
  }

  table {
    width: col(12);
    text-align: left;
  }

  thead {
    @include font(header);
    @include no-select;

    font-weight: normal;
    text-transform: lowercase;

    @include devices (mobile, tablet) {
      display: none;
    }

    th::first-letter {
      text-transform: uppercase;
    }

    th[data-sortable]  {
      cursor: pointer;
    }

    // Avoid jumps in layout when setting data-sort
    th[data-sortable]::after {
      content: '\2191';
      margin-left: 1ch;
      visibility: hidden;
    }

    // Only sortable columns show an arrow
    th[data-sortable][data-sort]::after { visibility: visible; }
    th[data-sortable][data-sort='ASC']::after { content: '\2191'; }
    th[data-sortable][data-sort='DESC']::after { content: '\2193'; }
  }

  tr:not(:first-of-type) {
    border-top: 1px solid;
  }

  td, th {
    padding: $gutter 0 $gutter $gutter;

    @include devices (mobile, tablet) {
      display: block;
      padding: 0;
      padding-bottom: 0.5em;
      &:first-child {
        padding-top: $gutter;
        padding-bottom: 0;
      }
      &:last-child { padding-bottom: $gutter; }
    }

    &:first-of-type {
      padding-left: 0;
    }
  }

  td:first-child {
    font-weight: bold;
  }

  &__button-container {
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin-top: $logo--height * 2;
  }
}
