.preview--article {
  margin-bottom: $logo--height;

  &__cover {
    overflow: hidden;
    margin-bottom: $gutter;
  }

  &__pubdate {
    @include font(ui);
  }

  &__context {
    font-weight: bold;

    &::first-letter  {
      text-transform: uppercase;
    }
  }

  &__title {
    @include line-clamp(5);
  }

  &__cover img {
    // ??? [A]
    // @include easing(300ms);
    // will-change: transform;
    // transform-origin: center;

    // ??? [B]
    // @include easing(300ms, filter);
  }

  &:hover &__cover img {
    // ??? [A]
    // transform: scale(1.1);

    // ??? [B]
    // filter: hue-rotate(-45deg);
  }
}
