.preview--event {
  @include font(body);

  &__header {
    position: relative;
    border-bottom: 1px solid;
    padding-bottom: 0.666em;
    margin-bottom: 1em;
  }

  time + time::before {
    content: '–';
  }

  &__context {
    font-weight: bold;
  }

  &__title {
    @include line-clamp(3);
  }
}
