.section {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__content {
    max-width: col(6);
    @include tablet { max-width: col(12); }
    @include mobile { max-width: col(12); }
  }

  &__title {
    @include font(header);
  }

  &__body {
    @include font(body);

    ol, ul {
      counter-reset: ol;
      list-style: none;

      li {
        position: relative;
        padding-left: 1em;
      }

      li::before {
        position: absolute;
        left: 0;
      }
    }

    ul li::before { content: '\2013'; }
    ol li::before {
      content: counter(ol) '.';
      font-size: smaller;
      counter-increment: ol;
      margin-top: 1px;
    }
  }

  &__columns[data-length='1'] &__column { width: col(12); }
  &__columns[data-length='2'] &__column { width: col(6); }
  &__columns[data-length='3'] &__column { width: col(4); }
  &__columns[data-length='4'] &__column { width: col(3); }

  &__columns { @include devices (mobile, tablet) { display: block !important; } }
  &__column { @include devices (mobile, tablet) { min-width: col(12); } }

  &__column + &__column {
    margin-left: $gutter;
    @include devices (mobile, tablet) {
      margin-left: 0;
      margin-top: $gutter;
    }
  }

  h3 {
    font-weight: bold;
  }

  &__button-container {
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin-top: $logo--height * 2;
  }
}
