@import 'sass/reset';
@import 'sass/fonts';
@import 'sass/helpers';
@import 'sass/devices';

$black: #000000;
$white: #FFFFFF;

$gutter: 2rem;
$logo--height: 3.5rem;

$max-width: 1280px;

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@mixin fade-in ($duration: 1000ms) {
  opacity: 0;
  animation: fade-in $duration cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@mixin below--max-width {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@function col ($n) {
  @return calc(100% / 12 * #{$n});
}

@import 'sass/base';

@import 'components/btn';
@import 'components/cta';
@import 'components/footer';
@import 'components/form';
@import 'components/form--filter';
@import 'components/header';
@import 'components/menu';
@import 'components/menu--regions';
@import 'components/pages--grid';
@import 'components/pages--list';
@import 'components/preview--article';
@import 'components/preview--event';
@import 'components/preview--people';
@import 'components/section';

@import 'templates/annuaire';
@import 'templates/article';
@import 'templates/home';
@import 'templates/search';
